<h1>Editing part</h1>

<% form_for(@part) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pos %><br />
    <%= f.text_field :pos %>
  </p>
  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @part %> |
<%= link_to 'Back', parts_path %>
