<h1>New word_meaning</h1>

<% form_for(@word_meaning) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :meaning %><br />
    <%= f.text_field :meaning %>
  </p>
  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', word_meanings_path %>
