<h1>New kun_reading</h1>

<% form_for(@kun_reading) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reading %><br />
    <%= f.text_field :reading %>
  </p>
  <p>
    <%= f.label :kanji %><br />
    <%= f.text_field :kanji %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', kun_readings_path %>
