<h1>Editing kanji_reading</h1>

<% form_for(@kanji_reading) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :reading %><br />
    <%= f.text_field :reading %>
  </p>
  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @kanji_reading %> |
<%= link_to 'Back', kanji_readings_path %>
