<%= render :partial => 'search_box' %>
  <div>
  <% @word.kanji_readings.each do |kr| %>
  <% kr.reading.each do |r|  %>
  <span id="word_entry"><%= r %></span>
  <% end %>
  <% end %>

  <% @word.kana_readings.each do |kr| %>
  <%= "(" %>
  <% kr.reading.each do |r|  %>
  <%= r %>
  <% end %>
  <%= ")" %>
  <% end %>

  <% @word.parts.each do |p| %>
  <%=h p.pos %>
  <% end %>

  <% @word.word_meanings.each do |m| %>
  <%=h m.meaning %>
  <% end %>

  </div>

<p>
  <div class="small_kanji">
  <% @kanji_in_readings.each do |kir| %>
  <div>
  <%=link_to kir, kanji_path(Kanji.find_by_character(kir)) %>
  </div>
  <% end %>
  </div>

</p>


