<% @result.each do |result| %>

  <div>
  <% result.word.kanji_readings.each do |kr| %>
  <% kr.reading.each do |r|  %>
  <%=link_to r, result.word %>
  <% end %>
  <% end %>

  <% result.word.kana_readings.each do |kr| %>
  <%= "(" %>
  <% kr.reading.each do |r|  %>
  <%=link_to r, result.word %>
  <% end %>
  <%= ")" %>
  <% end %>

  <% result.word.parts.each do |p| %>
  <%=h p.pos %>
  <% end %>

  <% result.word.word_meanings.each do |m| %>
  <%=h m.meaning %>
  <% end %>

  </div>
<% end %>


