<h1>Listing on_readings</h1>

<table>
  <tr>
    <th>Reading</th>
    <th>Kanji</th>
  </tr>

<% for on_reading in @on_readings %>
  <tr>
    <td><%=h on_reading.reading %></td>
    <td><%=h on_reading.kanji %></td>
    <td><%= link_to 'Show', on_reading %></td>
    <td><%= link_to 'Edit', edit_on_reading_path(on_reading) %></td>
    <td><%= link_to 'Destroy', on_reading, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New on_reading', new_on_reading_path %>
