<h1>New jump</h1>

<% form_for(@jump) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :jump_quotient %><br />
    <%= f.text_field :jump_quotient %>
  </p>
  <p>
    <%= f.label :kanji_reading %><br />
    <%= f.text_field :kanji_reading %>
  </p>
  <p>
    <%= f.label :kanji %><br />
    <%= f.text_field :kanji %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', jumps_path %>
