<p>
  <b>Jump quotient:</b>
  <%=h @jump.jump_quotient %>
</p>

<p>
  <b>Kanji reading:</b>
  <%=h @jump.kanji_reading %>
</p>

<p>
  <b>Kanji:</b>
  <%=h @jump.kanji %>
</p>


<%= link_to 'Edit', edit_jump_path(@jump) %> |
<%= link_to 'Back', jumps_path %>
